<form [formGroup]="form">
  <input type="text" placeholder="model" formControlName="model">
  <input type="text" placeholder="price" formControlName="price">
  <input type="text" placeholder="year" formControlName="year">
<!--  <button [disabled]="form.invalid" (click)="save()">save</button>-->
<!--  <span *ngIf="form.controls['model']['errors']">{{form.controls['model']['errors']|json}}</span>-->
<!--  <span *ngIf="form.controls['price']['errors']">{{form.controls['price']['errors']|json}}</span>-->
<!--  <span *ngIf="form.controls['year']['errors']">{{form.controls['year']['errors']|json}}</span>-->
</form>
  <button (click)="save()">{{updateCar?'update':'save'}}</button>
<hr>
<app-car  *ngFor="let car of cars" [car]="car" (carForUpdate)="lift($event)" (carIdForDelete)="deleteById($event)" ></app-car>
